@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/bitters/app/assets/stylesheets/base";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "refills";

$screen: new-breakpoint(min-width 900px 12);
$tablet: new-breakpoint(max-width 900px 12);
$smartlet: new-breakpoint(max-width 650px 12);
$mobile: new-breakpoint(max-width 400px 12);

$stateBadenWuerttembergColor: #87288F;
$stateBavariaColor: #D31E6B;
$stateBerlinColor: #607D8B;
$stateBrandenburgColor: #008E74;
$stateBremenColor: #4CAF50;
$stateHamburgColor: #03A9F4;
$stateHessenColor: #D2254A;
$stateNiedersachsenColor: #FFC157;
$stateMecklenburgVorpommernColor: #40919D;
$stateNordrheinWestfalenColor: #F17140;
$stateRheinlandPfalzColor: #C71243;
$stateSaarlandColor: #A80F16;
$stateSachsenAnhaltColor: #C0CA33;
$stateSaxonyColor: #08CB74;
$stateSchleswigHolsteinColor: #54BFC3;
$stateThueringenColor: #61AE5B;

.state-BADEN-WUERTTEMBERG {
  background-color: $stateBadenWuerttembergColor;
}

.state-BAVARIA {
  background-color: $stateBavariaColor;
}

.state-BERLIN {
  background-color: $stateBerlinColor;
}

.state-BRANDENBURG {
  background-color: $stateBrandenburgColor;
}

.state-BREMEN {
  background-color: $stateBremenColor;
}

.state-HAMBURG {
  background-color: $stateHamburgColor;
}

.state-HESSE {
  background-color: $stateHessenColor;
}

.state-LOWERSAXONY {
  background-color: $stateNiedersachsenColor;
}

.state-MECKELNBURG-VORPOMMERN {
  background-color: $stateMecklenburgVorpommernColor;
}

.state-NORTHRHINE-WESTPHALIA {
  background-color: $stateNordrheinWestfalenColor;
}

.state-RHINELAND-PALATINATE {
  background-color: $stateRheinlandPfalzColor;
}

.state-SAARLAND {
  background-color: $stateSaarlandColor;
}

.state-SAXONY {
  background-color: $stateSaxonyColor;
}

.state-SAXONY-ANHALT {
  background-color: $stateSachsenAnhaltColor;
}

.state-SCHLESWIG-HOLSTEIN {
  background-color: $stateSchleswigHolsteinColor;
}

.state-THURINGIA {
  background-color: $stateThueringenColor;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-gray;
}

section.filters {
  margin-top: 3em;
  .outer-container {
    @include outer-container;

    a {
      @extend .badge-tag;
      margin: 0.3em;
    }
    .active {
      background-color: darken(white, 10%);
    }
  }
}

section.view-events {
  background-color: white;
  padding: 3em 0;

  .outer-container {
    @include outer-container;

    .map {
      @include span-columns(4);

      @include media($smartlet) {
        @include span-columns(12);
      }

      .state {
        &:hover {
          opacity: 0.3;
          cursor: pointer;
        }
      }

      .sachsen {
        fill: $stateSaxonyColor;
      }
      .schleswig-holstein {
        fill: $stateSchleswigHolsteinColor;
      }
      .brandenburg {
        fill: $stateBrandenburgColor;
      }
      .sachsen-anhalt {
        fill: $stateSachsenAnhaltColor;
      }
      .mecklenburg-vorpommern {
        fill: $stateMecklenburgVorpommernColor;
      }
      .thueringen {
        fill: $stateThueringenColor;
      }
      .niedersachsen {
        fill: $stateNiedersachsenColor;
      }
      .nordrhein-westfalen {
        fill: $stateNordrheinWestfalenColor;
      }
      .hessen {
        fill: $stateHessenColor;
      }
      .rheinland-pfalz {
        fill: $stateRheinlandPfalzColor;
      }
      .saarland {
        fill: $stateSaarlandColor;
      }
      .bayern {
        fill: $stateBavariaColor;
      }
      .baden-wuerttemberg {
        fill: $stateBadenWuerttembergColor;
      }
    }

    .events {
      @include span-columns(8);

      @include media($smartlet) {
        @include span-columns(12);
      }

      .event {
        @include media($screen) {
          @include span-columns(4);
          @include omega(3n);
        }
        @include media($tablet) {
          @include span-columns(6);
          @include omega(2n);
        }

        @include media($mobile) {
          @include span-columns(12);
          @include omega();
        }

        margin-bottom: 2em;

      }
    }
  }
}

section.create-event {

  $field-height: 32px;

  .outer-container {
    @include outer-container;

    .event {
      @include span-columns(4);
      @include shift(4);
      @include omega();
      margin-bottom: 2em;

    }

    fieldset {
      margin-top: 3em;

      .name-box {
        @include span-columns(6);
        @include media($tablet) {
          @include span-columns(12);
          @include omega();
        }
      }

      .date-box {
        @include span-columns(2);
        @include media($tablet) {
          @include span-columns(4);
        }
        @include media($mobile) {
          @include span-columns(12);
        }
      }

      .city-box {
        @include span-columns(2);
        @include media($tablet) {
          @include span-columns(4);
        }
        @include media($mobile) {
          @include span-columns(6);
        }
      }

      .state-box {
        @include span-columns(2);
        @include omega();
        @include media($tablet) {
          @include span-columns(4);
          @include omega();

        }
        @include media($mobile) {
          @include span-columns(6);
          @include omega();

        }
      }

      .tag-row {

        .tag-field {
          @include span-columns(5);
        }
        .tag-add {
          @include span-columns(1);
          vertical-align: bottom;
        }
        .current-tags {
          @include span-columns(6);
          @include omega();
          vertical-align: bottom;
        }

      }

      .share-event {
        @include fill-parent();
        @include row(table);
      }

    }

  }

  input {
    margin-bottom: 0;
    height: $field-height;
  }

  select {
    margin: 0;
    width: 100%;
  }

  .field-description {
    font-weight: bold;
    font-size: small;
    color: grey;
  }

  .badge-tag {
    border: 1px solid;
    line-height: $field-height;
  }

  .tag-add-button {
    line-height: 6px;
    background-color: white;
    border: 1px solid #ddd;
    color: gray;
  }

}

.event-header {
  line-height: 1.3em;
  text-align: right;
  color: white;
  font-size: 1em;
  padding: 0.3em 0.6em;
}

.title {
  background: rgba(black, 0.7);
  color: white;
  font-size: 2em;
  font-weight: bold;
  line-height: initial;
}

.date {
  background: rgba(black, 0.7);
  color: white;
  font-size: 1em;
}