<form method="post" {{action "upload" on="change"}}>
    <input name="file" type="file"
           class="cloudinary-fileupload" data-cloudinary-field="image_id"
           data-form-data='{"signature": "c50hEe76Bd27pNCxucvZgQNMUmc","api_key": "874837483274837"}' />
</form>