<header>
  <div class=navigation>
    <a class="showMap" {{action 'showMap'}}><i class="fa fa-globe"></i> FILTER</a>
    {{#link-to 'events.new'}}<a class="addEvent">ADD EVENT <i class="fa fa-plus"></i></a> {{/link-to}}
  </div>
</header>

{{outlet}}
