<header>
  <div class=navigation>
    <button class="showMap" {{action 'showMap'}}><i class="fa fa-globe"></i> FILTER</button>
    {{#link-to 'events.new'}}<button class="addEvent">ADD EVENT <i class="fa fa-plus"></i></button> {{/link-to}}
  </div>
</header>

{{outlet}}
